{% load account_tags sekizai_tags %}





{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function(){

	InitChatWindow("{% url jqchat_ajax event.room.id %}", null);
	
	$('#msg').DefaultValue('Type your message here..');

	
});
</script>

{% endaddtoblock %}

<div class="expandable main window" id="bcast_chat">
	
	<div class="header">
		<div>
			<h4>Worte zum Bild</h4>
		</div>
	</div>
	
	
	<div class="panel chat" >
	
		<div class="inner action">
		{% if user.is_authenticated %}

		{% load account_tags %}
		{% user_display user as user_display %}
		<div>
			<form id="bcast_chatform" class="submit_inside">
				<!--
				<label class="chat user" for="msg">{{ user_display }}:</label>
				-->
				<input class="chat msg" type="text" id="msg" />
				<input class="chat btn" type="submit" value="SEND" />
				<br />
				<div class="clear"></div>
			</form>
		</div>
		{% endif %}
		</div>
		
		<div class="inner display">
			<div id="bcast_chatpanel" class="chatmessages">
				<span class="loading">+++</span>
			</div>
		</div>
		

		



	</div>
	
	
	
</div>