{% load account_tags sekizai_tags spectators_tags %}

{% if request.user.is_authenticated %}
	{% addtoblock "js_main" %}
	{% spectates_js request.user event %}
	{% endaddtoblock %}
{% endif %} <!-- spectators / participants whatever -->

{% addtoblock "css" %}
	{% spectates_css %}
{% endaddtoblock %}


	<div class="inner display">
		{% spectators event.id as spectate_users %}

		{% if spectate_users %}
		<div id="bcast_spectatorpanel" class="spectatormessages">
			Mit dabei: {% for obj in  spectate_users %}<strong class="user">{% firstof obj.sender %}{% if not forloop.last %},{% endif %}</strong>{% endfor %}
		</div>
		{% endif %}
	</div>


	<div class="inner action">
		{% if user.is_authenticated %}

		{% load account_tags %}
		{% user_display user as user_display %}

		<div class="spectators">
			{% spectates_widget request.user event %}
		</div>

		{% endif %}
	</div>