{% load sekizai_tags %}


{% addtoblock "js" %}
<script type="text/javascript">



	var player_config = {
		'flashplayer' 		: "{{ STATIC_URL }}swf/jwplayer-licensed-5.7.swf",
		'controlbar' 		: { position: 'bottom'},
		// 'skin' 				: '/static/swf/modieus-5/modieus.xml',
		'skin' 				: '/static/swf/ulysses.zip',
		'file'				: '/static/img/base/screen.test.png',
		'backcolor'			: '00ff00',
		'frontcolor'		: '000000',
		'lightcolor'		: 'ffffff',
		'logo.file'				: '/static/img/base/logo.tv.large.png',
		'logo.hide'				: false,
		'logo.position'				: 'top-right',
		'logo.link'				: '/',
		'logo.linktarget'				: '_self',
		'logo.out'				: 0.7,
		
        plugins				: { '{{ STATIC_URL }}js/base.plugin.js': { text: 'Hello world!' }}, 
        
        
        events				: { onError: function(event) {
        
        							if((event.message.indexOf("Stream not found") != -1)) {
        								countdown_reset(60);
        							}
        
 									
 							  },
 							  onPlaylistItem: function(event) { pase_player.track('play - {% if event.state == "past" %}archive{% else %}live{% endif %}', event) }
 							  
 							  //onPlay: function(event) { $('#chat_f').remove(); }
 							  
 							  },
        
        
        
		'playlist.size' 	: 0,
		'playlist.position' :'none',
		'playlistfile'		: '/bcast/playlist/{{ event.id }}/' + '?rnd=' + new Date().getTime(),
		
		'height' 			: 400,
		'width'				: {{ width }},
		'stretching' 		: 'fill',
	};
	
	
	
	{% if event.state == 'now' %}
	player_config['autostart'] = true;
	player_config['repeat'] = 'always';
	// player_config['plugins'] = false;
	player_config['logo.file'] = '/static/img/base/badge/badge.onair.cyan.png';
	{% endif %}


	{% if event.state == 'past' %}
	player_config['autostart'] = true;
	player_config['repeat'] = 'always';
	player_config['plugins'] = false;
	player_config['height'] = 600;
	player_config['playlist.size'] = 200;
	player_config['playlist.position'] = 'bottom';
	{% endif %}
	
	

	{% if event.state == 'future' or event.state == 'today' %}
	
	player_config['autostart'] = true;
	player_config['repeat'] = 'always';
	player_config['controlbar'] = 'none';
	
	player_config['logo.out'] = 0;

	{% endif %}
	

	jQuery(document).ready(function($) {
	
		pase_player = base.player.init();
	
  		jwplayer("player").setup(player_config);

	});
	
	


</script>
{% endaddtoblock %}

<div class="expandable main window" id="screen">
	
	<div class="header">
		<div>
			<h4>{{ event.location }} Live</h4>
		</div>
	</div>
	
	<div class="container" id="container_player" >
		<div id="player">...trying to load the player...</div>
	</div>

</div>