{% load sekizai_tags %}


{% addtoblock "js_main" %}
<script type="text/javascript">

jwplayer("player").setup({
	file: ".",
	height: 420,
	width: 680,
	autostart: true,
	'modes': [
		{ 
			type:'html5',
			config:{
				'file':'http://10.40.10.40:1935/d18live/{{ event.key }}/playlist.m3u8',
				'provider':'video'
		}
		}
	]
});

</script>
{% endaddtoblock %}

<div class="expandable main window" id="screen">
	
	<div class="header">
		<div>
			<h4>{{ event.location }} Live</h4>
		</div>
	</div>
	
	<div class="container" id="container_player" >
		<div id="player">...loading mobile player...</div>
	</div>


</div>