{% load vardump %}
{% load i18n %}
<h2>{% trans "Aktuelle Veranstaltungen" %}</h2>
<div id="slides" class="plugin events list">
	


	
	<div class="slides_container">
		{% for event in latest %}

		{% include 'bcast/event_list_event.html' %}

		
		<!--<ul>
			{% for page in event.get_pages_using %}
			<li>url: {{ page.get_absolute_url }} | title: {{ page.get_title }}</li>
			{% endfor %}
		</ul>-->
		

		{% empty %}
		<div class="warning">
			{% trans "No news yet" %}
		</div>
		{% endfor %}
	</div>
	<script>
		//<![CDATA[//><!--
		/*$(function() {
			$('#slides').slides({
				preload : true,
				generateNextPrev : true,
				generatePagination : false
			});
		});*/
		//--><!]]>
	</script>
</div>
