{% load vardump %}
{% load comments %}
{% load thumbnail %}
<div class="plugin bcast event detail">

	<h2>{{ event.title }} <span class="superscript">{{ event.type }}</span></h2>

	<h4>{{ event.date_start|date:"D, d. m. y" }}</h4>




	<div class="info" >

		{% if event.excerpt %}
			<div class="left excerpt">
				<p>
					{{ event.excerpt }}
				</p>
			</div>
		{% endif %}
		<div class="clear"></div>
	</div>
	
	
	
	{% if request.user.is_authenticated %}
	<div class="admin notice">
		<h5>Stream setup:</h5>

		<ul>
			<li><span>FMS URL:</span> <span>rtmp://rtmp.dock18.ch/d18live</span></li>
			<li><span>Stream:</span> <span>{{ event.key }}</span></li>
		</ul>

	</div>
	{% endif %}
	

	{% if event.starts_in > 0 %}
	<div id="counter" style="display: none;"></div>
	<script type="text/javascript">
		//<![CDATA[//><!--
		$(function() {
		$('#counter').countdown({
			until: +{{ event.starts_in }},
			//until: +120,
			onExpiry: countdown_done,
			compact: true,
			onTick: countdown_tick
			});
		});
		function countdown_done() {
			
			location.reload();
			
			$('#container_player').css('display', 'block');
			$('#stream_countdown').css('display', 'none');
		}
		function countdown_tick() {
			$('#chat_f').html( $('#counter').html() );
		}
		//--><!]]>
	</script>
	{% endif %}

	

	{% if event.transmission %}
		{% include 'bcast/event/transmission.html' %}
	{% endif %}
	
	{% if event.chat and event.room %}
		{% include 'bcast/event/chat.html' %}
	{% endif %}
	

</div>