website/static/CACHE
website/media
website/smedia
website/taggit/locale
website/apps/profiles/locale
website/apps/profiles/locale
websitestatic/CACHE
websitestatic/local_settings.py
.DS_Store
*.pyc
*.db
.sass-cache*
scripts/local_config.cfg
