{% load uni_form_tags %}

<div id="invitation-form-messages"></div>
<div class="invitation_form">
    {% if user.invitationstat.can_send %}
        <form action="{% url kaleo_invite %}" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            
            <div>
            
	            <div class="left">
	            	{{ form|as_uni_form }}
	            </div>
	            <div class="right">
	            	<input type="submit" value="Invite">
	            </div>
	            
	            <div class="clear"></div>
            
            </div>
            
        </form>
    {% else %}
        <p>You do not have any invitations currrently.</p>
    {% endif %}
</div>