<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - Geometric</title>
<style type="text/css">
a:hover { color: #09F !important; text-decoration: underline !important; }
a:hover#vw { background-color: #CCC !important; text-decoration: none !important; color:#000 !important; }
a:hover.ff { background-color: #6CF !important; text-decoration: none !important; color:#FFF !important; }
</style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
    <tr>
        <td>
            <!--email container-->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="624">
                <tr>
                    <td>
                        <!--header-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td valign="top"> <p style="height: 4px;"><span style="display: block; height: 1px; background: black;"></span></p>
                                    <!--top links-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td valign="middle" width="221">
                                                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #333; margin: 0px;">Is this email not displaying correctly?</p>
                                            </td>
                                            <td valign="top" width="285">
                                                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #333; margin: 0px;">
                                                    <webversion id="vw" style="float: left; padding: 5px; -webkit-border-radius: 3px; font-weight: bold; text-decoration: none; color: #333; -khtml-border-radius: 3px; background: #e9e8e8; -moz-border-radius: 3px; border-radius: 3px;">View it in a web browser</webversion>
                                                </p>
                                            </td>
                                            <td valign="top" width="118">
                                                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #333; margin: 0px;">
                                                    <forwardtoafriend id="ff" style="float: left; padding: 5px; -webkit-border-radius: 3px; font-weight: bold; text-decoration: none; color: #FFF; -khtml-border-radius: 3px; background: #4b98d7; -moz-border-radius: 3px; border-radius: 3px;">Forward to a friend</forwardtoafriend>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/top links-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td valign="top" width="624">
                                                <p style="height: 10px;"><span style="display: block; height: 1px; background: black;"></span></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--header content-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <h1 style="color: #333; margin: 0px; font-weight: normal; font-size: 60px; font-family: Helvetica, Arial, sans-serif;">ABC Newsletter</h1>
                                                <h2 style="color: #333; margin: 0px; font-weight: normal; font-size: 30px; font-family: Helvetica, Arial, sans-serif;">//
                                                    <currentmonthname> <currentyear>
                                                </h2>
                                            </td>
                                            <td id="issue" valign="top" style="background-image: url('images/issue-no.jpg'); background-color: #4b98d7; background-repeat: no-repeat; background-position: top; width: 109px; height: 109px;" bgcolor="#4b98d7">
                                                <!--number-->
                                                <table width="104" align="right" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="52" height="73" valign="bottom"><img align="right" src="images/no.jpg" width="43" height="35"></td>
                                                        <td width="52" valign="bottom">
                                                            <h3 style="margin: 0px; padding:0; font-size: 32px; font-family: Helvetica, Arial, sans-serif; color: #FFF;">12</h3>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/number-->
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/header content-->
                                </td>
                            </tr>
                        </table>
                        <!--/header-->
                        <!--line break-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td height="50" valign="middle" width="624"><p style="height: 10px;"><span style="display: block; height: 1px; background: black;"></span></p></td>
                            </tr>
                        </table>
                        <!--/line break-->
                        <!--email content-->
                        <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                            <tr>
                                <td>
                                    <!--section 1-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <h2 style="font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">Lorem ipsum dolor sit amet</h2>
                                                
                                                {% for article in message.articles.all %}
                                                <p style="color: #000; margin: 0px; font-size: 18px; color:#4b98d7; font-family: Georgia, 'Times New Roman', Times, serif;">{{ article.title }}</p>
												{% endfor %}
                             
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 1-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="25" valign="middle" width="624"></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="100%">
                                        <tr>
                                            <td>
                                                <!--section-->
                                                <table cellspacing="0" border="0" cellpadding="0" width="100%">
                                                    <tr>
                                                    	
                                                        <td valign="top" width="61%">
                                                        	
                                                        	{% for article in message.articles.all %}
                                                        	
                                                            <h2 style="font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin-top: 0; margin-bottom: 0;">{{ article.title }}</h2>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">{{ article.text|striptags|safe }}</p>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td><p style="height: 10px; width: 360px;"><span style="display: block; height: 1px; background: #a5a5a5;"></span></p></td>
                                                                </tr>
                                                            </table>
                                                            
                                                            {% endfor %}
                                                            

                                                           </td>
                                                        
                                                        
                                                        <td valign="top" width="39%">
                                                            <table width="220" border="0" align="right" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td>
                                                                        <table align="right" width="220" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td bgcolor="#f4f4f4" valign="top" style="background-color: #f4f4f4; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px;">
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="20">
                                                                                        <tr>
                                                                                            <td>
                                                                                                <h3 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin:0px;">Forward to a friend</h3>
                                                                                                <table width="180" border="0" cellspacing="0" cellpadding="0">
                                                                                                    <tr>
                                                                                                        <td height="5" width="181"></td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                                <p style="color: #000; margin: 0px; padding:0; font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif;">Consectetur adipiscing elit. Phasellus a ipsum a risus volutpat placerat in nec mauris. Fusce sit amet enim erat, in sagittis arcu. Aliquam dolor dolor.</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/section-->
                                            </td>
                                        </tr>
                                    </table>
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><p style="height: 30px;"><span style="display: block; height: 1px; background: black;"></span></p></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--footer-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">You’re receiving this newsletter because you’ve subscribed to the ABC Newsletter. 
                                                    Not interested anymore?
                                                    <unsubscribe style="color: #4b98d7; text-decoration: none;">Unsubscribe instantly.</unsubscribe>
                                                    <br />
                                                    <br />
                                                    <a href="{{ site }}">{{ site }}</a></p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">
                                                	<p style="height: 10px;"><span style="display: block; height: 1px; background: black;"></span></p>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->
                                </td>
                            </tr>
                        </table>
                        <!--/email content-->
                    </td>
                </tr>
            </table>
            <!--/email container-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>