@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/dock18_ch\/website\/site-static\/sass\/asif\/_django-admin\.sass}line{font-family:\000032}}
#header { background-color: #333940; border-bottom: solid 3px #999999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/dock18_ch\/website\/site-static\/sass\/asif\/_django-admin\.sass}line{font-family:\000037}}
#branding h1 { color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/dock18_ch\/website\/site-static\/sass\/asif\/_django-admin\.sass}line{font-family:\0000310}}
.module h2, .module caption, .inline-group h2 { background: #cccccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/dock18_ch\/website\/site-static\/sass\/asif\/_django-admin\.sass}line{font-family:\0000314}}
a.section:link, a.section:visited { color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/dock18_ch\/website\/site-static\/sass\/asif\/_django-admin\.sass}line{font-family:\0000317}}
a:link, a:visited { color: #00aeff; text-decoration: none; }
