{% load vardump comments thumbnail sekizai_tags phileo_tags spectators_tags in_group %}

<div class="plugin bcast event detail">

	<div class="expandable main window" id="bcast_lead">

	
	{% addtoblock "js_external" %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	{% endaddtoblock %}
	


		{% for obj in objects %}
		<div class="panel lead">
	
	
			<div class="action">
			    <div class="left">
					<h4 class="date">Username</h4>
				</div>
			    <div class="right social">
			    	<!--
					{% include 'element/social.html' %}
					-->
				</div>
			    <div class="clear"></div>
			</div>
			
			<div class="display">
				<h3><span class="title">{{ event.title }}</span></h3>
				<p>Para</p>
				
			</div>
	
		
		</div>
		{% endfor %}
			
		
	</div>

		
</div>