/* vars
 * 
 */


@mixin font-styles()
  .normal 
    font-style: normal
  .italic
    font-style: italic
  .oblique 
    font-style: oblique
  .bold 
    font-weight: bold



@mixin font-base()
  font-family: $font-default
  +font-styles()

@mixin font-nav()
  font-size: $size-font-base * 1
  +font-base()
  line-height: normal

@mixin font-heading()
  font-family: $font-heading
  +font-styles()

@mixin font-subheading()
  font-family:  $font-subheading
  +font-styles()


@mixin font-monospace()
  font-family: $font-monospace
  +font-styles()

@mixin font-quote()
  font-family: $font-quote
  +font-styles()

@mixin font-pre()
  font-family: $font-pre
  +font-styles()

@mixin font-link-default()
  font-style: italic

@mixin typography()

  font-size: $size-font-base

  +font-base()

  line-height: normal


  strong
    font-weight: bold
  em
    font-style: italic
    
  sup
    font-size: 70%
    vertical-align: text-bottom
    //font-weight: bold
  sub
    font-size: 70%
    vertical-align: sub
    //font-weight: bold
    
  blockquote
    color: #333
    margin: 4px 0 12px 0
    padding: 0 0 0 12px
    border-left: 4px solid #000
    
    
    p
      padding: 0 !important
    
  h1, h2
    text-transform: uppercase
    +font-heading()
    margin: 0 0 0 0
    padding: 0
    
  h3, h4, h5, h6
    +font-subheading()
    margin: 0 
    padding: 0
  
    
  h1
    font-size: $size-font-base * 2.6
  h2
    font-size: $size-font-base * 2.2 
  h3
    font-size: $size-font-base * 2.0
  h4
    font-size: $size-font-base * 1.5
  h5
    font-size: $size-font-base * 1.4
  h6
    font-size: $size-font-base * 1.2
    



  .superscript
    font-size: 50%
    vertical-align: super
  .subscript
    font-size: 90%
    vertical-align: bottom