{% extends "admin/filer/change_form.html" %}
{% load i18n admin_modify adminmedia sekizai_tags %}



{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {#<li><a href="export/">{% trans "Export" %}</a></li>#}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block file_sidebar %}

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {

    jwplayer("vcontainer").setup({
        flashplayer: "/static/swf/jwplayer-5.8.swf",
        file: "{{ original.url }}",
        controlbar: 'bottom',
        skin: '/static/swf/ulysses.zip',
        height: 240,
        width: 380
    });
	
    });
})(django.jQuery);
</script>


<style type="text/css">
	
.colMS {
    margin-right: 400px !important;
}
	
</style>

<div id="navcontainer">
    <div id="video_container">
    	<div id="vcontainer"></div>
    	<!--
        <img src="{{ original.thumbnails.admin_sidebar_preview }}" alt="{{ original.label }}" rel="{{ adminform.form.sidebar_image_ratio }}" />
        <div id="paper">&nbsp;</div>
        -->
    </div>
    <!--
    <a href="{{ original.url }}">{% trans "Full size preview" %}</a>
    <a href="{{ original.url }}">{{ original.url }}</a>
    -->
</div>
{{ block.super }}
{% endblock %}