/* framework imports

@import "compass/reset"
@import "compass/utilities"

/*@import "compass/typography/links"
/*@import "compass/typography/lists"
/*@import "compass/layout/grid-background"

@import "blueprint/debug"

@import "blueprint/grid"


/* path setup
/* img base path
$img: unquote("/media/cmps/img/")


/* debug grid settings

$grid-background-column-color: rgba(100, 100, 225, 0.25)
$grid-background-gutter-color: rgba(0, 0, 0, 0)

$grid-background-column-width: 20px
$grid-background-gutter-width: 20px
$grid-background-offset: 10px

$grid-background-baseline-height: 10px


.debug
  +blueprint-grid()

/* dimensions
$footer-height: 36px
 
/* variable setup
$with-spaceing: 10px
$with-main: 1100px
$with-content: 820px

$with-sidebar: $with-main - $with-content - (2 * $with-spaceing)


/* color setup
/* $color-bg-main: #2e313a
$color-bg-main: #ffffff
$color-fg-main: #ffffff
$color-bg-inner: #ffffff
$color-fg-inner: cyan
/*$color-fg-inner: #00aef0

$color-active: #ff0000
$color-active-inv: #99FF33
$color-form-border: #7b7b7b

/* more colors...
$color-bg-action: #ff00ff
$color-fg-action: #00ffff

$color-bg-info: yellow
$color-fg-info: black

$color-bg-notice: #ff00ff
$color-fg-notice: #ff00ff

$color-bg-error: #ff00ff
$color-fg-error: #ff00ff


/* testing...


/* typography
$font-base: 11px/150% Verdana, sans-serif, 'Maven Pro'
/*$font-headings: 11px/100% 'DroidSansMonoRegular', Arial, sans-serif
$font-headings: 250%/150% 'Impact', Arial, sans-serif
$font-fixed: 11px/150% "Lucida Console","Andale Mono","Monotype.com",monospace


body
  h1, h2, h3, h4, h5, h6, li
    font: $font-base
    
  #content
    h1, h2, h3, h4
      font: $font-headings


/*
  font-family: "Andale Mono", "Monotype.com", monospace
  font: 11px/150% 'DroidSansMonoRegular', Arial, sans-serif
  font: 11px/150% Verdana, sans-serif
