#navigation
  width: $with-sidebar - 20px

#navigation, #navigation_top
  /* width: $with-sidebar - 20px
  
  ul
    list-style-type: none
    list-style-position: inside
    list-style-image: none

    

  // first level
  >ul
    a
      display: block
      padding: 0 4px
      text-transform: uppercase
      text-decoration: none
      font: $font-base
      font-size: 100%
    
      /* color: #ffffff
      &:hover
        color: $color-bg-main
        background-color: $color-active
        font-weight: bold

  
    >li
      margin: 0 0 10px 0
      
      > a 
        background-color: #000000
        color: #ffffff
      // second level   
      >ul
        padding: 0 0 0 20px
    
    >li.selected,>li.ancestor
      //background-color: #ffff00
      // border-right: $with-spaceing solid $color-active
      >a
        font-weight: bold
    
    >li.selected
      >a
        background-color: $color-active
        color: $color-bg-main

    
    >li.ancestor
      ul
        >li.selected
          >a
            font-weight: bold
            background-color: $color-active
            color: $color-bg-main
      
    // third level
    >li 
      ul >li >ul
        padding: 0 0 0 20px
        display: none
      &.ancestor
        ul >li >ul
          padding: 0 0 0 20px
          display: block