{% extends "base.html" %}


{% block extra_head %}
    {% block extra_head_base %}{% endblock %}
{% endblock %}

{% load cms_tags %}
{% load cache menu_tags %}	


{% block base_content %}

<div id="container" class="debug">
	
	
	<div id="toolbar">
		
		<!-- the actual menu -->
		<div id="navigation_top" class="left navigation menu">
			<ul class="horizontal">
			    {% show_menu 0 0 0 0 %}
			</ul>
		</div>
		
		<!-- profile / login / facebook / etc -->
		{% load account_tags %}
		<div class="right navigation profile">
			
			
		{% if user.is_authenticated %}
		
		<!-- load tags -->
		{% url acct_logout as logout_url %}
		{% user_display user as user_display %}
		
		
		<ul class="horizontal">
			<li><span class="username">{{ user_display }}</span></li>
			<li><a href="{% url profile_detail user.username %}">Profile</a></li>
			
			{% if user.is_staff %}
				<li><a href="/admin/">Administration</a></li>
			{% endif %}
			
			<li><a href="{{ logout_url }}">Logout</a></li>
		</ul>


		{% else %}
		
		<!-- load tags -->
		{% url acct_login as login_url %}
		{% url acct_signup as signup_url %}
		
		

		


		
		<ul class="horizontal">
			<li><a href="{{ signup_url }}">signup</a></li>
			<li><a href="{{ login_url }}">login</a></li>
			
			<li><a class="fb_connect" href="/facebook/login">connect</a></li>
			
			
			
			<!--
			<li> <fb:login-button size="small">Connect</fb:login-button> </li>
			-->
		</ul>
		
		{% endif %}
				
			
		<!--
		<ul>
			<li><a href="{% url admin_invite_user %}">invite more people to the site</a></li>
		</ul>
		-->
			
		</div> 
		
		<div class="clear"></div>
		
		
	</div>
	
	<div id="header">
		
		<div class="left">
			
			
			
			
			
		</div>
		
		<!--
		<div id="subline">
			<div class="right">
				<div>
					SUBLINE
				</div>
			</div>
			<div class="clear"></div>
		</div>
		-->
		
		<div class="clear"></div>
	</div>
	
	
	<div id="content">
		<div class="col left">
			
			<div class="headline">
				<div class="season main_title"><img src="{{ STATIC_URL }}img/base/header.season.01.png" /></div>
			</div>
			
			<div id="content_2col">
				
				<div class="base content pinax">
					<!-- content from pinax -->
					{% block body_outer %}
					    <div id="body">
					        
					        {% block body %}
					        {% endblock %}
					    </div>
					{% endblock %}
				</div>
				
				<div class="base content cms">
					
					{% block flash_messages %}{% include "_flash_messages.html" %}{% endblock %}
					
					{% placeholder body_content %}
					{% block body_content%}
					{% endblock %}
				</div>
				
				
				
				
			</div>

		</div>
	</div>
	<div id="sidebar" class="col right">
		



		
		<!--
		<div id="language_chooser">
		{% load menu_tags %}
		{% language_chooser "element/language_chooser.html" %}
		</div>
		-->

		
		<div id="navigation_side">
			
			<ul class="vertical">
				
				{% show_menu_below_id 'events' 0 100 100 100 "bcast/menu_shows.html" %}
				
			</ul>
			
		</div>
		
		
		
		
	</div>
	
	<div>
		

		

		

		
	</div>
	
	<div id="footer" class="footer">
		<div class="sitemap clear"></div>
		<div class="inner">
			
			<div id="fb_like">
				{% include 'element/facebook.html' %}
			</div>
			
			<div>
				{% include 'element/footer_account.html' %}
			</div>
			
			{% placeholder template_footer  or %}

			{% endplaceholder %}
			
			
			
			
		</div>
	</div>
	
	
	
	
</div>

{% endblock %}