@font-face {
  font-family: "Impact";
  /* src: url('/media/font/DroidSansMono-webfont.eot') */
  src: url("/static/font/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
