html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

ul.horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
ul.horizontal > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
ul.horizontal > li:first-child, ul.horizontal > li.first {
  padding-left: 0;
}
ul.horizontal > li:last-child {
  padding-right: 0;
}
ul.horizontal > li.last {
  padding-right: 0;
}

/* vars
 * 
 */
#navigation ul, #navigation_top ul {
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none;
}
#navigation > ul a, #navigation_top > ul a {
  display: block;
  padding: 0 4px;
  text-transform: uppercase;
  text-decoration: none;
}
#navigation > ul a:hover, #navigation_top > ul a:hover {
  font-weight: bold;
}
#navigation > ul > li, #navigation_top > ul > li {
  margin: 0 0 10px 0;
}
#navigation > ul > li > ul, #navigation_top > ul > li > ul {
  padding: 0 0 0 20px;
}
#navigation > ul > li.selected > a, #navigation > ul > li.ancestor > a, #navigation_top > ul > li.selected > a, #navigation_top > ul > li.ancestor > a {
  font-weight: bold;
}
#navigation > ul > li.ancestor ul > li.selected > a, #navigation_top > ul > li.ancestor ul > li.selected > a {
  font-weight: bold;
}
#navigation > ul > li ul > li > ul, #navigation_top > ul > li ul > li > ul {
  padding: 0 0 0 20px;
  display: none;
}
#navigation > ul > li.ancestor ul > li > ul, #navigation_top > ul > li.ancestor ul > li > ul {
  padding: 0 0 0 20px;
  display: block;
}

/* structure:
 * body
 *   #container
 *     div#root
 *       div#toolbar
 *       div#header
 *       div#content
 *           div#base
 *           div#sidebar
 *     div#footer 
 *         div.inner
 */
.debug #root {
  background-color: yellow;
}
.debug #base {
  background-color: fuchsia;
}
.debug #sidebar {
  background-color: blue;
}

body {
  padding: 0;
  pargin: 0;
}
body > #container {
  width: 1000px;
  margin: 0 auto;
}
body #root {
  width: 920px;
}
body #root #toolbar, body #root #content {
  padding: 0 0 0 80px;
}

div#content > #base {
  width: 600px;
}
div#content > #sidebar {
  width: 200px;
}

body {
  font-size: 1em;
  font-family: "Verdana";
  font-size: 1em;
}
body .normal {
  font-style: normal;
}
body .italic {
  font-style: italic;
}
body .oblique {
  font-style: oblique;
}
body .bold {
  font-weight: bold;
}
body blockquote {
  color: #666666;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Helvetica";
}
body h1 .normal, body h2 .normal, body h3 .normal, body h4 .normal, body h5 .normal, body h6 .normal {
  font-style: normal;
}
body h1 .italic, body h2 .italic, body h3 .italic, body h4 .italic, body h5 .italic, body h6 .italic {
  font-style: italic;
}
body h1 .oblique, body h2 .oblique, body h3 .oblique, body h4 .oblique, body h5 .oblique, body h6 .oblique {
  font-style: oblique;
}
body h1 .bold, body h2 .bold, body h3 .bold, body h4 .bold, body h5 .bold, body h6 .bold {
  font-weight: bold;
}
body h1 {
  font-size: 4em;
}
body h2 {
  font-size: 3.2em;
}
body h3 {
  font-size: 2.6em;
}
body h4 {
  font-size: 2.2em;
}
body h5 {
  font-size: 1.8em;
}
body h6 {
  font-size: 1.2em;
}
body .superscript {
  font-size: 50%;
  vertical-align: super;
}
body .subscript {
  font-size: 90%;
  vertical-align: bottom;
}

a {
  color: fuchsia;
}
a:visited {
  color: fuchsia;
}
a:hover {
  color: yellow;
}
a:active {
  color: yellow;
}

.base .plugin .listing.event {
  background-color: black;
  color: white;
}
.base .plugin .listing.event.now {
  background-color: yellow;
  color: black;
}

.plugin.bcast.detail #screen {
  background-color: black;
  color: white;
}
.plugin.bcast.detail #participants {
  background-color: black;
  color: white;
}
.plugin.bcast.detail #files {
  background-color: black;
  color: white;
}
