/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_control.sass */
.left {
  float: left;
}

/* line 4, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_control.sass */
.right {
  float: right;
}

/* line 7, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_control.sass */
.clear {
  clear: both;
}

/* line 14, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_control.sass */
ul.horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 16, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_control.sass */
ul.horizontal > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.horizontal > li:first-child, ul.horizontal > li.first {
  padding-left: 0;
}
/* line 49, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.horizontal > li:last-child {
  padding-right: 0;
}
/* line 50, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.horizontal > li.last {
  padding-right: 0;
}

/* vars
 * 
 */
/* line 9, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar {
  width: 840px;
  height: 50px;
  background: repeat-x;
  background-image: url('/static/img/base/layout.toolbar.bg.png?1317409811');
}

/* line 21, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar .profile {
  text-transform: uppercase;
}
/* line 23, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar .profile ul > li {
  padding: 10px 20px 20px 20px;
  line-height: 20px;
  padding: 10px 4px 0px 4px;
}
/* line 29, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar .profile ul > li:first-child {
  border: none;
}
/* line 34, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar .profile ul > li a, #toolbar .profile ul > li span {
  text-decoration: none;
}
/* line 36, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar .profile ul > li a.fb_connect, #toolbar .profile ul > li span.fb_connect {
  padding-left: 16px;
  background: url("/static/img/base/fb.connect.16x16.png") no-repeat top left;
}
/* line 39, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#toolbar .profile ul > li a.username, #toolbar .profile ul > li span.username {
  font-weight: bold;
}

/* line 46, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation a, #navigation_top a {
  color: white;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#navigation a:visited, #navigation_top a:visited {
  color: white;
}
/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#navigation a:hover, #navigation_top a:hover {
  color: black;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#navigation a:active, #navigation_top a:active {
  color: black;
}
/* line 49, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation ul, #navigation_top ul {
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none;
}
/* line 58, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul a, #navigation > ul > li, #navigation_top > ul a, #navigation_top > ul > li {
  display: block;
  padding: 0 4px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 64, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul a:hover, #navigation > ul > li:hover, #navigation_top > ul a:hover, #navigation_top > ul > li:hover {
  background-color: yellow;
  color: black;
}
/* line 67, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul a:hover a, #navigation > ul > li:hover a, #navigation_top > ul a:hover a, #navigation_top > ul > li:hover a {
  color: black;
}
/* line 71, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li, #navigation_top > ul > li {
  margin: 0 0 10px 0;
  padding: 10px 20px 20px 20px;
  line-height: 20px;
}
/* line 76, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li > a, #navigation_top > ul > li > a {
  color: black;
}
/* line 80, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li > ul, #navigation_top > ul > li > ul {
  padding: 0 0 0 20px;
}
/* line 83, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li.selected, #navigation > ul > li.ancestor, #navigation_top > ul > li.selected, #navigation_top > ul > li.ancestor {
  background-color: yellow;
}
/* line 88, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li.selected:hover, #navigation > ul > li.ancestor:hover, #navigation_top > ul > li.selected:hover, #navigation_top > ul > li.ancestor:hover {
  background-color: yellow;
  color: black;
}
/* line 90, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li.selected > a, #navigation > ul > li.ancestor > a, #navigation_top > ul > li.selected > a, #navigation_top > ul > li.ancestor > a {
  color: black;
}
/* line 102, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li.ancestor ul > li.selected > a, #navigation_top > ul > li.ancestor ul > li.selected > a {
  font-weight: bold;
}
/* line 108, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li ul > li > ul, #navigation_top > ul > li ul > li > ul {
  padding: 0 0 0 20px;
  display: none;
}
/* line 112, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_navigation.sass */
#navigation > ul > li.ancestor ul > li > ul, #navigation_top > ul > li.ancestor ul > li > ul {
  padding: 0 0 0 20px;
  display: block;
}

/* ------------------------------------------------------------------------------
 *
 *   Copyright (c) 2010, Dragan Babic
 *   
 *   Permission is hereby granted, free of charge, to any person
 *   obtaining a copy of this software and associated documentation
 *   files (the "Software"), to deal in the Software without
 *   restriction, including without limitation the rights to use,
 *   copy, modify, merge, publish, distribute, sublicense, and/or sell
 *   copies of the Software, and to permit persons to whom the
 *   Software is furnished to do so, subject to the following
 *   conditions:
 *   
 *   The above copyright notice and this permission notice shall be
 *   included in all copies or substantial portions of the Software.
 *   
 *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *   EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *   OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *   NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *   HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *   WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *   OTHER DEALINGS IN THE SOFTWARE.
 *
 *   ------------------------------------------------------------------------------ */
/* #############################   GENERALS   ################################### */
/* ------------------------------------------------------------------------------ */
/* line 30, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
/* line 35, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 39, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm fieldset legend {
  margin: 0;
  padding: 0;
}
/* line 42, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .ctrlHolder, .uniForm .buttonHolder {
  margin: 0;
  padding: 0;
  clear: both;
}
/* line 46, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm:after, .uniForm .buttonHolder:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}
/* line 56, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .ctrlHolder:after, .uniForm .ctrlHolder .multiField:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}
/* line 65, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabel:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}
/* line 74, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm label, .uniForm button {
  cursor: pointer;
}
/* line 76, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm label, .uniForm .label {
  display: block;
  float: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  line-height: 100%;
  width: auto;
}
/* line 83, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .textInput, .uniForm .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm textarea {
  float: left;
  width: 53%;
  margin: 0;
}
/* line 87, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .readOnlyLabel {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}
/* line 91, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .readOnly {
  font-size: 0.85em;
}
/* line 93, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .readOnly .choiceLabel {
  color: #777777;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.15em;
}
/* line 98, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .formHint {
  float: right;
  width: 43%;
  margin: 0;
  clear: none;
}
/* line 103, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul {
  float: left;
  width: 53%;
  margin: 0;
  padding: 0;
}
/* line 108, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul li {
  margin: 0 0 0.5em 0;
  list-style: none;
}
/* line 111, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul li label {
  margin: 0;
  float: none;
  display: block;
  overflow: visible;
}
/* line 116, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul.alternate li {
  float: left;
  width: 30%;
  margin-right: 3%;
}
/* line 120, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul.alternate li label {
  float: none;
  display: block;
  width: 98%;
}
/* line 124, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul .textInput, .uniForm ul .selectInput, .uniForm ul select {
  width: 98%;
  margin-top: 0.5em;
  display: block;
  float: none;
}
/* line 130, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm ul.alternate .textInput, .uniForm ul.alternate .selectInput, .uniForm ul.alternate select {
  width: 98%;
  margin-top: 0.5em;
  display: block;
  float: none;
}
/* line 135, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm label em, .uniForm .label em {
  float: left;
  width: 1em;
  margin: 0 0 0 -1em;
}
/* line 140, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels label, .uniForm .inlineLabels .label {
  float: left;
  margin: 0.3em 2% 0 0;
  padding: 0;
  line-height: 1;
  position: relative;
  width: 32%;
}
/* line 147, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels .readOnlyLabel {
  float: left;
  margin: 0.3em 2% 0 0;
  padding: 0;
  line-height: 1;
  position: relative;
  width: 32%;
  margin: 0;
}
/* line 155, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm .inlineLabels textarea {
  float: left;
  width: 64%;
}
/* line 158, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels .formHint {
  clear: both;
  float: none;
  width: auto;
  margin-left: 34%;
  position: static;
}
/* line 164, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels ul {
  float: left;
  width: 66%;
}
/* line 167, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels ul li {
  margin: 0.5em 0;
}
/* line 169, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels ul li label {
  float: none;
  display: block;
  width: 100%;
}
/* line 173, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels ul.alternate li {
  margin-right: 3%;
  margin-top: 0.25em;
}
/* line 177, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels ul li label .textInput, .uniForm .inlineLabels ul li label textarea, .uniForm .inlineLabels ul li label select {
  float: none;
  display: block;
  width: 98%;
}
/* line 181, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels .readOnly {
  float: right;
  width: 66%;
}
/* line 184, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels label em, .uniForm .inlineLabels .label em {
  display: block;
  float: none;
  margin: 0;
  position: absolute;
  right: 0;
}
/* line 190, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm legend {
  color: inherit;
}
/* line 192, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .secondaryAction {
  float: left;
}
/* line 194, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabel input, .uniForm .inlineLabels .inlineLabel input, .uniForm .blockLabels .inlineLabel input, .uniForm label input {
  float: none;
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 201, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .buttonHolder .inlineLabel, .uniForm .buttonHolder label {
  float: left;
  margin: 0.5em 0 0 0;
  width: auto;
  max-width: 60%;
  text-align: left;
}
/* line 207, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .inlineLabels .noLabel ul {
  margin-left: 34%;
  /* Match to width of label + gap to field */
}
/* line 210, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .small {
  width: 30% !important;
}
/* line 212, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .medium {
  width: 45% !important;
}
/* line 215, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .auto {
  width: auto !important;
  height: auto !important;
}
/* line 218, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .small, .uniForm .medium, .uniForm .auto {
  margin-right: 4px;
}
/* line 220, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_base.sass */
.uniForm .col {
  float: left;
  width: 50%;
}

/* line 7, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm legend {
  font-weight: bold;
  margin: 0;
  padding: 1.5em 0;
}
/* line 11, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .ctrlHolder {
  padding: 5px 0;
  border-bottom: 1px solid #efefef;
}
/* line 14, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .ctrlHolder.focused {
  background: #fffcdf;
}
/* line 17, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .buttonHolder {
  background: #efefef;
  text-align: right;
  margin: 2px 0;
  padding: 1px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -khtml-border-radius: 2px;
}
/* line 27, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .buttonHolder .primaryAction {
  padding: 4px 8px;
  background: #254a86;
  border: 1px solid #163362;
  font-size: 12px;
  font-weight: bold;
  color: white;
  /* CSS3 */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  box-shadow: 1px 1px 0 white;
  -webkit-box-shadow: 1px 1px 0 white;
  -moz-box-shadow: 1px 1px 0 white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 44, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .buttonHolder .primaryAction:active {
  position: relative;
  top: 1px;
}
/* line 47, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .secondaryAction {
  text-align: left;
}
/* line 49, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm button.secondaryAction {
  background: transparent;
  border: none;
  color: #777777;
  margin: 10px 0;
  padding: 0;
}
/* line 56, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .inlineLabels label em, .uniForm .inlineLabels .label em {
  font-style: normal;
  font-weight: bold;
}
/* line 59, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm label small {
  /* font-size: .75em */
  color: #777777;
}
/* line 62, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .textInput, .uniForm .passwordinput {
  padding: 4px 2px;
  border: 1px solid #aaaaaa;
  background: white;
  width: 64%;
}
/* line 67, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm textarea {
  padding: 4px 2px;
  border: 1px solid #aaaaaa;
  background: white;
  height: 12em;
}
/* line 73, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm ul li label {
  /* font-size: .85em */
}
/* line 77, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .ctrlHolder .textInput:focus, .uniForm .ctrlHolder textarea:focus {
  outline: none;
}
/* line 79, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .formHint {
  /* font-size: .85em */
  color: #777777;
}
/* line 82, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .inlineLabels .formHint {
  padding-top: 0.5em;
}
/* line 84, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .ctrlHolder.focused .formHint {
  color: #333333;
}
/* line 86, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm #errorMsg {
  background: #ffdfdf;
  border: 1px solid #f3afb5;
  margin: 0 0 1.5em 0;
  padding: 0 1.5em;
  /* CSS3 */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}
/* line 98, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm #errorMsg ol {
  margin: 0 0 1.5em 0;
  padding: 0;
}
/* line 101, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm #errorMsg ol li {
  margin: 0 0 3px 1.5em;
  padding: 7px;
  background: #f6bec1;
  position: relative;
  font-size: 0.85em;
  /* CSS3 */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}
/* line 114, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .ctrlHolder.error, .uniForm .ctrlHolder.focused.error {
  background: #ffdfdf;
  border: 1px solid #f3afb5;
  /* CSS3 */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}
/* line 124, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .ctrlHolder.error input.error, .uniForm .ctrlHolder.error select.error, .uniForm .ctrlHolder.error textarea.error {
  color: #af4c4c;
  margin: 0 0 6px 0;
  padding: 4px;
}
/* line 128, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm #okMsg {
  background: #c8ffbf;
  border: 1px solid #a2ef95;
  margin: 0 0 1.5em 0;
  padding: 1.5em;
  text-align: center;
  /* CSS3 */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}
/* line 140, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm #okMsg p {
  margin: 0;
}
/* line 142, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .col {
  margin-bottom: 1.5em;
}
/* line 145, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .col.first {
  width: 49%;
  float: left;
  clear: none;
}
/* line 149, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/uniform/_dock18.sass */
.uniForm .col.last {
  width: 49%;
  float: right;
  clear: none;
  margin-right: 0;
}

/* structure:
 * body
 *   #container
 *     div#root
 *       div#toolbar
 *       div#header
 *       div#content
 *           div#base
 *           div#sidebar
 *     div#footer 
 *         div.inner
 */
/* line 89, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.debug #root {
  background-color: yellow;
}
/* line 91, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.debug #base {
  background-color: fuchsia;
}
/* line 93, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.debug #sidebar {
  background-color: blue;
}

/* line 97, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body {
  padding: 0;
  pargin: 0;
}
/* line 101, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body > #container {
  width: 1000px;
  margin: 0 auto;
}
/* line 105, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body #root {
  width: 920px;
}
/* line 107, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body #root #toolbar, body #root #content {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 0 80px;
}
/* line 110, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body #root #content > #base {
  width: 600px;
  margin: 0 30px 0 0;
}
/* line 113, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body #root #sidebar {
  width: 200px;
}
/* line 116, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body #footer {
  margin: 0 0 0 80px;
}

/* line 120, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#content {
  padding-bottom: 30px;
}

/* line 135, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
body {
  font-size: 14px;
  font-family: "Verdana";
  line-height: normal;
}
/* line 7, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body .normal {
  font-style: normal;
}
/* line 9, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body .italic {
  font-style: italic;
}
/* line 11, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body .oblique {
  font-style: oblique;
}
/* line 13, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body .bold {
  font-weight: bold;
}
/* line 62, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body blockquote {
  color: #666666;
}
/* line 65, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h1, body h2 {
  font-family: "frutiger_ultrablack";
  margin: 0 0 15px 0;
  padding: 0;
}
/* line 7, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h1 .normal, body h2 .normal {
  font-style: normal;
}
/* line 9, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h1 .italic, body h2 .italic {
  font-style: italic;
}
/* line 11, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h1 .oblique, body h2 .oblique {
  font-style: oblique;
}
/* line 13, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h1 .bold, body h2 .bold {
  font-weight: bold;
}
/* line 70, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h3, body h4, body h5, body h6 {
  font-family: "frutiger_extrablack";
  margin: 0;
  padding: 0;
}
/* line 7, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h3 .normal, body h4 .normal, body h5 .normal, body h6 .normal {
  font-style: normal;
}
/* line 9, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h3 .italic, body h4 .italic, body h5 .italic, body h6 .italic {
  font-style: italic;
}
/* line 11, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h3 .oblique, body h4 .oblique, body h5 .oblique, body h6 .oblique {
  font-style: oblique;
}
/* line 13, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h3 .bold, body h4 .bold, body h5 .bold, body h6 .bold {
  font-weight: bold;
}
/* line 76, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h1 {
  font-size: 47.6px;
}
/* line 78, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h2 {
  font-size: 39.2px;
}
/* line 80, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h3 {
  font-size: 32.2px;
}
/* line 82, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h4 {
  font-size: 23.8px;
}
/* line 84, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h5 {
  font-size: 22.4px;
}
/* line 86, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body h6 {
  font-size: 18.2px;
}
/* line 92, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body .superscript {
  font-size: 50%;
  vertical-align: super;
}
/* line 95, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
body .subscript {
  font-size: 90%;
  vertical-align: bottom;
}

/* line 142, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
a {
  color: yellow;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: yellow;
}
/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: yellow;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: yellow;
}

/* line 147, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
a:link {
  color: yellow;
  background: inherit;
}
/* line 150, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
a:hover {
  background-color: yellow;
  color: black;
}

/* line 155, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#toolbar {
  font-size: 11.2px;
  font-family: "Verdana";
  line-height: normal;
}
/* line 7, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
div#toolbar .normal {
  font-style: normal;
}
/* line 9, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
div#toolbar .italic {
  font-style: italic;
}
/* line 11, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
div#toolbar .oblique {
  font-style: oblique;
}
/* line 13, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/asif/_typography.sass */
div#toolbar .bold {
  font-weight: bold;
}
/* line 157, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#toolbar .profile {
  margin: 0 15px 0 0;
}

/* line 164, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#header {
  margin: 30px 0 60px 0;
}

/* line 169, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#sidebar {
  margin: 0;
}

/* line 180, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  font-style: italic;
  color: white !important;
}

/* line 191, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .list.events {
  font-family: "Courier New", "Courier";
}
/* line 194, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .listing.event {
  background-color: black;
  color: white;
  padding: 15px;
  margin: 0 0 15px 0;
}
/* line 201, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .listing.event .picture {
  margin: 0 10px 0 0;
}
/* line 207, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .listing.event.now {
  color: black;
  background: aqua url("/static/img/base/badge/badge.now.yellow.png") top right no-repeat;
}
/* line 210, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .listing.event.now a {
  color: black !important;
}
/* line 213, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .listing.event.today {
  background: black url("/static/img/base/badge/badge.today.cyan.png") top right no-repeat;
}
/* line 215, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base .plugin .listing.event.future {
  background: black url("/static/img/base/badge/badge.week.yellow.png") top right no-repeat;
}

/* line 221, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
#eventlist_side .list.events {
  font-size: 11.2px;
}
/* line 223, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
#eventlist_side .listing.event {
  padding: 5px;
}
/* line 225, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
#eventlist_side .listing.event h3, #eventlist_side .listing.event h4 {
  font-size: 14px;
}
/* line 227, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
#eventlist_side .listing.event .inner, #eventlist_side .listing.event .picture {
  display: none;
}
/* line 229, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
#eventlist_side .listing.event span.event_type {
  font-size: 11.2px;
}

/* line 233, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.detail.event {
  background-color: yellow;
  color: black;
  padding: 0;
}
/* line 239, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.detail.event > div.padded {
  padding: 15px 0 0 15px;
}
/* line 245, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.detail.event #bcast_chat {
  background-color: aqua;
}
/* line 249, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.detail.event .message {
  background-color: red;
  background-color: red;
  color: black;
  padding: 15px;
  margin: 0 0 15px 0;
}

/* line 259, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window {
  margin: 0;
  pading: 0;
}
/* line 264, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window .header {
  display: none;
  text-align: right;
  padding: 0 8px 0 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 273, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window .panel.chat {
  padding: 15px;
  max-height: 280px;
  overflow: auto;
}
/* line 284, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window .panel .chatmessages .row {
  margin: 8px 0 0 0;
  clear: both;
}
/* line 288, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window .panel .chatmessages .row .timestamp {
  display: block;
  float: left;
  padding: 5px 10px 0 0;
  color: fuchsia;
  font-size: 70%;
}
/* line 294, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window .panel .chatmessages .row .user {
  display: block;
  float: left;
  width: 100px;
  overflow: hidden;
  color: yellow;
  padding: 0 10px 0 0;
  font-weight: bold;
}
/* line 303, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window .panel .chatmessages .row .msg {
  display: block;
  float: left;
  width: 400px;
}

/* line 313, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.plugin.bcast.detail #screen {
  background-color: black;
  color: white;
}
/* line 316, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.plugin.bcast.detail #participants {
  background-color: black;
  color: white;
}
/* line 319, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.plugin.bcast.detail #files {
  background-color: black;
  color: white;
}

/* line 327, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base.content .textplugin_holder {
  background-color: yellow;
  color: black;
  padding: 15px;
  margin: 60px 0 15px 0;
  font-family: "Courier New", "Courier";
}
/* line 334, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base.content .textplugin_holder p {
  padding: 0;
}
/* line 337, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base.content .textplugin_holder a {
  color: black;
  font-style: italic;
}
/* line 341, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.base.content .textplugin_holder:first-child {
  margin: 0 0 15px 0;
}

/* line 347, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.sidebar .textplugin_holder {
  background-color: transparent;
  color: black;
  padding: 0 0 15px 0;
  margin: 0 0 30px 0;
  font-family: "Courier New", "Courier";
  border-bottom: 4px solid black;
}
/* line 357, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.sidebar .textplugin_holder p {
  padding: 0;
}
/* line 360, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.sidebar .textplugin_holder a {
  color: black;
  font-style: italic;
}
/* line 364, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.sidebar .textplugin_holder:first-child {
  margin: 0 0 15px 0;
}

/* line 372, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
form.submit_inside {
  background-color: red;
  padding: 6px 6px 6px 10px;
}
/* line 377, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
form.submit_inside input.msg {
  width: 300px;
  border: none;
  background-color: inherit;
  font-size: 100%;
}
/* line 382, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
form.submit_inside input.btn {
  border: none;
  background-color: inherit;
  float: right;
}

/* line 388, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
.expandable.main.window form.submit_inside {
  width: 400px;
}

/* line 393, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
#invitation {
  background-color: cyan;
  padding: 10px;
}

/* line 401, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#player_wrapper > div {
  width: 100%;
  height: 400px;
  padding: 269px 70px 0px 0;
  text-align: right;
}
/* line 406, /Users/ohrstrom/Documents/Code/dock18_ch/src/static/sass/_base.sass */
div#player_wrapper > div span {
  background-color: black;
  font-family: Arial;
  height: 66px;
  font-size: 59px;
  font-weight: bold;
}
