html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

ul.horizontal { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
ul.horizontal > li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
ul.horizontal > li:first-child, ul.horizontal > li.first { padding-left: 0; }
ul.horizontal > li:last-child { padding-right: 0; }
ul.horizontal > li.last { padding-right: 0; }

/* vars  */
#toolbar { width: 840px; height: 50px; background: repeat-x; background-image: url('/static/img/base/layout.toolbar.bg.png?1317409811'); }

#toolbar .profile { text-transform: uppercase; }
#toolbar .profile ul > li { padding: 10px 20px 20px 20px; line-height: 20px; padding: 10px 4px 0px 4px; }
#toolbar .profile ul > li:first-child { border: none; }
#toolbar .profile ul > li a, #toolbar .profile ul > li span { text-decoration: none; }
#toolbar .profile ul > li a.fb_connect, #toolbar .profile ul > li span.fb_connect { padding-left: 16px; background: url("/static/img/base/fb.connect.16x16.png") no-repeat top left; }
#toolbar .profile ul > li a.username, #toolbar .profile ul > li span.username { font-weight: bold; }

#navigation a, #navigation_top a { color: white; }
#navigation a:visited, #navigation_top a:visited { color: white; }
#navigation a:hover, #navigation_top a:hover { color: black; }
#navigation a:active, #navigation_top a:active { color: black; }
#navigation ul, #navigation_top ul { list-style-type: none; list-style-position: inside; list-style-image: none; }
#navigation > ul a, #navigation > ul > li, #navigation_top > ul a, #navigation_top > ul > li { display: block; padding: 0 4px; text-transform: uppercase; text-decoration: none; }
#navigation > ul a:hover, #navigation > ul > li:hover, #navigation_top > ul a:hover, #navigation_top > ul > li:hover { background-color: yellow; color: black; }
#navigation > ul a:hover a, #navigation > ul > li:hover a, #navigation_top > ul a:hover a, #navigation_top > ul > li:hover a { color: black; }
#navigation > ul > li, #navigation_top > ul > li { margin: 0 0 10px 0; padding: 10px 20px 20px 20px; line-height: 20px; }
#navigation > ul > li > a, #navigation_top > ul > li > a { color: +contrasted(black); background-color: black; }
#navigation > ul > li > ul, #navigation_top > ul > li > ul { padding: 0 0 0 20px; }
#navigation > ul > li.selected, #navigation > ul > li.ancestor, #navigation_top > ul > li.selected, #navigation_top > ul > li.ancestor { background-color: yellow; }
#navigation > ul > li.selected:hover, #navigation > ul > li.ancestor:hover, #navigation_top > ul > li.selected:hover, #navigation_top > ul > li.ancestor:hover { background-color: yellow; color: black; }
#navigation > ul > li.selected > a, #navigation > ul > li.ancestor > a, #navigation_top > ul > li.selected > a, #navigation_top > ul > li.ancestor > a { color: black; background-color: yellow; }
#navigation > ul > li.ancestor ul > li.selected > a, #navigation_top > ul > li.ancestor ul > li.selected > a { font-weight: bold; }
#navigation > ul > li ul > li > ul, #navigation_top > ul > li ul > li > ul { padding: 0 0 0 20px; display: none; }
#navigation > ul > li.ancestor ul > li > ul, #navigation_top > ul > li.ancestor ul > li > ul { padding: 0 0 0 20px; display: block; }

/* ------------------------------------------------------------------------------  Copyright (c) 2010, Dragan Babic  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.  ------------------------------------------------------------------------------ */
/* #############################   GENERALS   ################################### */
/* ------------------------------------------------------------------------------ */
.uniForm { margin: 0; padding: 0; position: relative; z-index: 1; }
.uniForm fieldset { border: none; margin: 0; padding: 0; }
.uniForm fieldset legend { margin: 0; padding: 0; }
.uniForm .ctrlHolder, .uniForm .buttonHolder { margin: 0; padding: 0; clear: both; }
.uniForm:after, .uniForm .buttonHolder:after { content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }
.uniForm .ctrlHolder:after, .uniForm .ctrlHolder .multiField:after { content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }
.uniForm .inlineLabel:after { content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }
.uniForm label, .uniForm button { cursor: pointer; }
.uniForm label, .uniForm .label { display: block; float: none; margin: 0 0 0.5em 0; padding: 0; line-height: 100%; width: auto; }
.uniForm .textInput, .uniForm .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm textarea { float: left; width: 53%; margin: 0; }
.uniForm .readOnlyLabel { margin: 0; font-size: 1em; font-weight: bold; }
.uniForm .readOnly { font-size: 0.85em; }
.uniForm .readOnly .choiceLabel { color: #777777; text-transform: uppercase; font-size: 0.75em; letter-spacing: 0.15em; }
.uniForm .formHint { float: right; width: 43%; margin: 0; clear: none; }
.uniForm ul { float: left; width: 53%; margin: 0; padding: 0; }
.uniForm ul li { margin: 0 0 0.5em 0; list-style: none; }
.uniForm ul li label { margin: 0; float: none; display: block; overflow: visible; }
.uniForm ul.alternate li { float: left; width: 30%; margin-right: 3%; }
.uniForm ul.alternate li label { float: none; display: block; width: 98%; }
.uniForm ul .textInput, .uniForm ul .selectInput, .uniForm ul select { width: 98%; margin-top: 0.5em; display: block; float: none; }
.uniForm ul.alternate .textInput, .uniForm ul.alternate .selectInput, .uniForm ul.alternate select { width: 98%; margin-top: 0.5em; display: block; float: none; }
.uniForm label em, .uniForm .label em { float: left; width: 1em; margin: 0 0 0 -1em; }
.uniForm .inlineLabels label, .uniForm .inlineLabels .label { float: left; margin: 0.3em 2% 0 0; padding: 0; line-height: 1; position: relative; width: 32%; }
.uniForm .inlineLabels .readOnlyLabel { float: left; margin: 0.3em 2% 0 0; padding: 0; line-height: 1; position: relative; width: 32%; margin: 0; }
.uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm .inlineLabels textarea { float: left; width: 64%; }
.uniForm .inlineLabels .formHint { clear: both; float: none; width: auto; margin-left: 34%; position: static; }
.uniForm .inlineLabels ul { float: left; width: 66%; }
.uniForm .inlineLabels ul li { margin: 0.5em 0; }
.uniForm .inlineLabels ul li label { float: none; display: block; width: 100%; }
.uniForm .inlineLabels ul.alternate li { margin-right: 3%; margin-top: 0.25em; }
.uniForm .inlineLabels ul li label .textInput, .uniForm .inlineLabels ul li label textarea, .uniForm .inlineLabels ul li label select { float: none; display: block; width: 98%; }
.uniForm .inlineLabels .readOnly { float: right; width: 66%; }
.uniForm .inlineLabels label em, .uniForm .inlineLabels .label em { display: block; float: none; margin: 0; position: absolute; right: 0; }
.uniForm legend { color: inherit; }
.uniForm .secondaryAction { float: left; }
.uniForm .inlineLabel input, .uniForm .inlineLabels .inlineLabel input, .uniForm .blockLabels .inlineLabel input, .uniForm label input { float: none; display: inline; margin: 0; padding: 0; border: none; }
.uniForm .buttonHolder .inlineLabel, .uniForm .buttonHolder label { float: left; margin: 0.5em 0 0 0; width: auto; max-width: 60%; text-align: left; }
.uniForm .inlineLabels .noLabel ul { margin-left: 34%; /* Match to width of label + gap to field */ }
.uniForm .small { width: 30% !important; }
.uniForm .medium { width: 45% !important; }
.uniForm .auto { width: auto !important; height: auto !important; }
.uniForm .small, .uniForm .medium, .uniForm .auto { margin-right: 4px; }
.uniForm .col { float: left; width: 50%; }

.uniForm legend { font-weight: bold; margin: 0; padding: 1.5em 0; }
.uniForm .ctrlHolder { padding: 5px 0; border-bottom: 1px solid #efefef; }
.uniForm .ctrlHolder.focused { background: #fffcdf; }
.uniForm .buttonHolder { background: #efefef; text-align: right; margin: 2px 0; padding: 1px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -khtml-border-radius: 2px; }
.uniForm .buttonHolder .primaryAction { padding: 4px 8px; background: #254a86; border: 1px solid #163362; font-size: 12px; font-weight: bold; color: white; /* CSS3 */ border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; box-shadow: 1px 1px 0 white; -webkit-box-shadow: 1px 1px 0 white; -moz-box-shadow: 1px 1px 0 white; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25); }
.uniForm .buttonHolder .primaryAction:active { position: relative; top: 1px; }
.uniForm .secondaryAction { text-align: left; }
.uniForm button.secondaryAction { background: transparent; border: none; color: #777777; margin: 10px 0; padding: 0; }
.uniForm .inlineLabels label em, .uniForm .inlineLabels .label em { font-style: normal; font-weight: bold; }
.uniForm label small { /* font-size: .75em */ color: #777777; }
.uniForm .textInput, .uniForm .passwordinput { padding: 4px 2px; border: 1px solid #aaaaaa; background: white; width: 64%; }
.uniForm textarea { padding: 4px 2px; border: 1px solid #aaaaaa; background: white; height: 12em; }
.uniForm ul li label { /* font-size: .85em */ }
.uniForm .ctrlHolder .textInput:focus, .uniForm .ctrlHolder textarea:focus { outline: none; }
.uniForm .formHint { /* font-size: .85em */ color: #777777; }
.uniForm .inlineLabels .formHint { padding-top: 0.5em; }
.uniForm .ctrlHolder.focused .formHint { color: #333333; }
.uniForm #errorMsg { background: #ffdfdf; border: 1px solid #f3afb5; margin: 0 0 1.5em 0; padding: 0 1.5em; /* CSS3 */ border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }
.uniForm #errorMsg ol { margin: 0 0 1.5em 0; padding: 0; }
.uniForm #errorMsg ol li { margin: 0 0 3px 1.5em; padding: 7px; background: #f6bec1; position: relative; font-size: 0.85em; /* CSS3 */ border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }
.uniForm .ctrlHolder.error, .uniForm .ctrlHolder.focused.error { background: #ffdfdf; border: 1px solid #f3afb5; /* CSS3 */ border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }
.uniForm .ctrlHolder.error input.error, .uniForm .ctrlHolder.error select.error, .uniForm .ctrlHolder.error textarea.error { color: #af4c4c; margin: 0 0 6px 0; padding: 4px; }
.uniForm #okMsg { background: #c8ffbf; border: 1px solid #a2ef95; margin: 0 0 1.5em 0; padding: 1.5em; text-align: center; /* CSS3 */ border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }
.uniForm #okMsg p { margin: 0; }
.uniForm .col { margin-bottom: 1.5em; }
.uniForm .col.first { width: 49%; float: left; clear: none; }
.uniForm .col.last { width: 49%; float: right; clear: none; margin-right: 0; }

/* structure: body #container div#root div#toolbar div#header div#content div#base div#sidebar div#footer  div.inner */
.debug #root { background-color: yellow; }
.debug #base { background-color: fuchsia; }
.debug #sidebar { background-color: blue; }

body { padding: 0; pargin: 0; }
body > #container { width: 1000px; margin: 0 auto; }
body #root { width: 920px; }
body #root #toolbar, body #root #content { overflow: hidden; *zoom: 1; margin: 0 0 0 80px; }
body #root #content > #base { width: 600px; margin: 0 30px 0 0; }
body #root #sidebar { width: 200px; }
body #footer { margin: 0 0 0 80px; }

div#content { padding-bottom: 30px; }

body { font-size: 14px; font-family: "Verdana"; line-height: normal; }
body .normal { font-style: normal; }
body .italic { font-style: italic; }
body .oblique { font-style: oblique; }
body .bold { font-weight: bold; }
body blockquote { color: #666666; }
body h1, body h2 { font-family: "frutiger_ultrablack"; margin: 0 0 15px 0; padding: 0; }
body h1 .normal, body h2 .normal { font-style: normal; }
body h1 .italic, body h2 .italic { font-style: italic; }
body h1 .oblique, body h2 .oblique { font-style: oblique; }
body h1 .bold, body h2 .bold { font-weight: bold; }
body h3, body h4, body h5, body h6 { font-family: "frutiger_extrablack"; margin: 0; padding: 0; }
body h3 .normal, body h4 .normal, body h5 .normal, body h6 .normal { font-style: normal; }
body h3 .italic, body h4 .italic, body h5 .italic, body h6 .italic { font-style: italic; }
body h3 .oblique, body h4 .oblique, body h5 .oblique, body h6 .oblique { font-style: oblique; }
body h3 .bold, body h4 .bold, body h5 .bold, body h6 .bold { font-weight: bold; }
body h1 { font-size: 47.6px; }
body h2 { font-size: 39.2px; }
body h3 { font-size: 32.2px; }
body h4 { font-size: 23.8px; }
body h5 { font-size: 22.4px; }
body h6 { font-size: 18.2px; }
body .superscript { font-size: 50%; vertical-align: super; }
body .subscript { font-size: 90%; vertical-align: bottom; }

a { color: yellow; }
a:visited { color: yellow; }
a:hover { color: yellow; }
a:active { color: yellow; }

a:link { color: yellow; background: inherit; }
a:hover { background-color: yellow; color: black; }

div#toolbar { font-size: 11.2px; font-family: "Verdana"; line-height: normal; }
div#toolbar .normal { font-style: normal; }
div#toolbar .italic { font-style: italic; }
div#toolbar .oblique { font-style: oblique; }
div#toolbar .bold { font-weight: bold; }
div#toolbar .profile { margin: 0 15px 0 0; }

div#header { margin: 30px 0 60px 0; }

div#sidebar { margin: 0; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a { font-style: italic; color: white !important; }

.base .plugin .list.events { font-family: "Courier New", "Courier"; }
.base .plugin .listing.event { background-color: black; color: white; padding: 15px; margin: 0 0 15px 0; }
.base .plugin .listing.event .picture { margin: 0 10px 0 0; }
.base .plugin .listing.event.now { color: black; background: aqua url("/static/img/base/badge/badge.now.yellow.png") top right no-repeat; }
.base .plugin .listing.event.now a { color: black !important; }
.base .plugin .listing.event.today { background: black url("/static/img/base/badge/badge.today.cyan.png") top right no-repeat; }
.base .plugin .listing.event.future { background: black url("/static/img/base/badge/badge.week.yellow.png") top right no-repeat; }

#eventlist_side .list.events { font-size: 11.2px; }
#eventlist_side .listing.event { padding: 5px; }
#eventlist_side .listing.event h3, #eventlist_side .listing.event h4 { font-size: 14px; }
#eventlist_side .listing.event .inner, #eventlist_side .listing.event .picture { display: none; }
#eventlist_side .listing.event span.event_type { font-size: 11.2px; }

.detail.event { background-color: yellow; color: black; padding: 0; }
.detail.event > div.padded { padding: 15px 0 0 15px; }
.detail.event #bcast_chat { background-color: aqua; }
.detail.event .message { background-color: red; background-color: red; color: black; padding: 15px; margin: 0 0 15px 0; }

.expandable.main.window { margin: 0; pading: 0; }
.expandable.main.window .header { display: none; text-align: right; padding: 0 8px 0 8px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.expandable.main.window .panel.chat { padding: 15px; max-height: 280px; overflow: auto; }
.expandable.main.window .panel .chatmessages .row { margin: 8px 0 0 0; clear: both; }
.expandable.main.window .panel .chatmessages .row .timestamp { display: block; float: left; padding: 5px 10px 0 0; color: fuchsia; font-size: 70%; }
.expandable.main.window .panel .chatmessages .row .user { display: block; float: left; width: 100px; overflow: hidden; color: yellow; padding: 0 10px 0 0; font-weight: bold; }
.expandable.main.window .panel .chatmessages .row .msg { display: block; float: left; width: 360px; }

.plugin.bcast.detail #screen { background-color: black; color: white; }
.plugin.bcast.detail #participants { background-color: black; color: white; }
.plugin.bcast.detail #files { background-color: black; color: white; }

.base.content .textplugin_holder { background-color: yellow; color: black; padding: 15px; margin: 60px 0 15px 0; font-family: "Courier New", "Courier"; }
.base.content .textplugin_holder p { padding: 0; }
.base.content .textplugin_holder a { color: black; font-style: italic; }
.base.content .textplugin_holder:first-child { margin: 0 0 15px 0; }

.sidebar .textplugin_holder { background-color: transparent; color: black; padding: 0 0 15px 0; margin: 0 0 30px 0; font-family: "Courier New", "Courier"; border-bottom: 4px solid black; }
.sidebar .textplugin_holder p { padding: 0; }
.sidebar .textplugin_holder a { color: black; font-style: italic; }
.sidebar .textplugin_holder:first-child { margin: 0 0 15px 0; }

form.submit_inside { background-color: red; padding: 6px 6px 6px 10px; }
form.submit_inside input.msg { width: 300px; border: none; background-color: inherit; font-size: 100%; }
form.submit_inside input.btn { border: none; background-color: inherit; float: right; }

.expandable.main.window form.submit_inside { width: 400px; }

#invitation { background-color: cyan; padding: 10px; }

div#player_wrapper > div { width: 100%; padding: 269px 0 0px 0; text-align: right; }
div#player_wrapper > div span { background-color: black; font-family: Arial; height: 66px; font-size: 59px; font-weight: bold; }
