{% extends "newsletter/common.html" %}
{% load i18n %}
{% block title %}{% trans "Newsletter list" %}{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
<form method="POST" action="{% url newsletter_list %}" class="">
	{% csrf_token %}
	{{ formset.management_form }}
	
	
	<ul>
	{% for form in formset.forms %}
	
	
	<!--
	<ul class="horizontal">
		<li>
			{{ form.id }}{{ form.newsletter }}{{ form.instance.newsletter.title }}
		</li>
		<li>
			{{ form.subscribed }}
		</li>
	</ul>
	{% if form.instance.newsletter.description %}
	<ul>
		<li>
			{{ form.instance.newsletter.description }}
		</li>
	</ul>
	{% endif %}
	-->
	
	
	
	
	<li class="hoverable">
		<ul class="horizontal title">
			<li>
				<h4><span>{{ form.subscribed }}</span> @{{ form.instance.newsletter.title }}</h4>
			</li>
		</ul>
		{% if form.instance.newsletter.description %}
		<ul class="description">
			<li>
				{{ form.instance.newsletter.description }}
			</li>
		</ul>
		{% endif %}
		<ul class="horizontal action">
			<li>
				{{ form.id }}{{ form.newsletter }}
			</li>
			<li>
				
			</li>
		</ul>
	</li>
	
	
	
	
	
	{% endfor %}
	</ul>
	
	
	<ul class="horizontal submit">
		<li class="">
			<input id="id_submit" name="submit" value="{% trans "Update subscriptions" %}" type="submit" />
		</li>
	</ul>
</form>
{% else %}
<ul>
	{% for newsletter in object_list %}
	<li class="hoverable">
		<ul class="horizontal title">
			<li>
				<h4>@{{ newsletter.title }}</h4>
			</li>
		</ul>
		{% if newsletter.description %}
		<ul class="description">
			<li>
				{{ newsletter.description }}
			</li>
		</ul>
		{% endif %}
		<ul class="horizontal action">
			<li>
				<a href="{% url newsletter_subscribe_request newsletter.slug %}">{% trans "Subscribe" %}</a>
			</li>
			<li>
				<a href="{% url newsletter_unsubscribe_request newsletter.slug %}">{% trans "Cancel" %}</a>
			</li>
		</ul>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock body %} 