{% load thumbnail truncate %}
<div class="extend event listing {{ event.type }} {{ event.state }}">


	
	<div class="left wrap"  title="{{ event.excerpt }}">
	
		<!-- yes i know, bad html..-->
		<h4 class="date">
			<span class="event_date">
			{% if event.state == 'today' %}
				<!--
				{{ event.date_start|date:"d. m. y" }} - {{ event.date_start|date:"H:i" }}
				-->
			{% else %}{% if event.state == 'now' %}
				{{ event.date_start|date:"H:i" }}
			{% else %}
				{{ event.date_start|date:"d. m. Y" }}
			{% endif %}{% endif %}
			</span>
			
			{% if event.state == 'today' %}
			<span id="countdown_{{event.key }}">{{ event.date_start|date:"H:i" }}</span>
			{% endif %}
		</h4>
	
		<h3 class="title">
			<a href="{% if event.get_absolute_url %}{{ event.get_absolute_url }}{% else %}#{% endif %}" class="url_main"> 
				<span class="title">{{ event.title|truncate_chars_inner:32 }}</span>  
				{% if event.channel and event.type %}
				<span class="channel">{{ event.channel }}/{{ event.type }}</span>
				{% endif %}
			</a>
		</h3>
		
		<div class="clear"></div>
		{% if event.excerpt or event.state == 'now' or event.state == 'today' %}
		<p class="left time">{{ event.date_start|date:"H:i" }}</p>
		
		
		<p class="left excerpt">{{ event.excerpt|truncatewords:10 }}</p>
		{% endif %}
		<div class="clear"></div>
	</div>

	<div class="clear"></div>

	
	
</div>