{% load thumbnail %}
<div class="extend event listing {{ event.type }} {{ event.state }} hover">

	
	<!--
	{% if event.picture %}
		<div class="left wrap">
			<div class="left picture">
	
				<img src="{% thumbnail event.picture 70x70 crop %}" />
			</div>
		</div>
	{% endif %}
	-->
	
	<div class="left wrap">
	
		<h3><a href="{{ event.get_absolute_url }}" class="url_main"> 
				<span class="title">{{ event.title }}</span>  
			</a>
		</h3>
	
		<h4 class="date">
		 
		
		{% if event.state == 'today' %}
			{{ event.date_start|date:"d. m. y" }} - {{ event.date_start|date:"H:i" }}
		{% else %}{% if event.state == 'now' %}
			{{ event.date_start|date:"H:i" }}
		{% else %}
			{{ event.date_start|date:"d. m. y" }}
		{% endif %}{% endif %}
		
		
		
		
		
		<span class="event_type">/{{event.type }}</span></h4>

	</div>
	
	<div class="clear"></div>
	
	
	<!--
	<div class="inner">
		<div class="info" >
			{% if event.picture %}
			<div class="left picture">

				<img src="{% thumbnail event.picture 70x70 crop %}" />
			</div>
			{% endif %}
			
			{% if event.excerpt %}
			<div class="left excerpt">
				<p>
					{{ event.excerpt }}
				</p>
			</div>
			{% endif %} <div class="clear"></div>
		</div>
		
		<div class="a-right">
			<ul class="horizontal tags right">
				{% for tag in event.tags.all %}
				<li class="tag">
					{{ tag }}
				</li>
				{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
		
	</div>
	-->
</div>