{% load vardump sekizai_tags i18n %}

<div class="plugin events list">
	
	
	{% for event in objects %}
	
	
	
		{% include 'bcast/event_list_event.html' %} 
		
		
		
		{% if event.state == 'future' or event.state == 'today' %}
		{% addtoblock "js_main" %}
		<script type="text/javascript">

			$(document).ready(function() {
				$('.event #countdown_{{ event.key }}').countdown({
					until: +{{ event.starts_in }},
					compact: true
				});
			});

		</script>
		{% endaddtoblock %}
		{% endif %}
	
		{% empty %}
		<div class="notice">
			<!--
			{% trans "none" %}
			-->
		</div>
	
	{% endfor %}

</div>
