{% load thumbnail truncate %}
<div class="extend event listing {{ event.type }} {{ event.state }} {% if event.transmission %}transmission{% endif %}">


	
	<div class="left wrap"  title="{{ event.excerpt }}">
	
		<!-- yes i know, bad html..-->
		<h3 class="date">
			<span class="event_date">
			{% if event.state == 'today' %}
				<!--
				{{ event.date_start|date:"d. m. y" }} - {{ event.date_start|date:"H:i" }}
				-->
			{% else %}{% if event.state == 'now' %}
				{{ event.date_start|date:"H:i" }}
			{% else %}
				{{ event.date_start|date:"d. m. Y" }}
			{% endif %}{% endif %}
			</span>
			
			{% if event.state == 'today' %}
			<span id="countdown_{{event.key }}">{{ event.date_start|date:"H:i" }}</span>
			{% endif %}
		</h3>
	
		<h3 class="title">
			<a href="{% if event.get_absolute_url %}{{ event.get_absolute_url }}{% else %}#{% endif %}" class="url_main"> 
				<!--
				{% if event.channel and event.type %}
				<ul class="channel right" style="display: inline;">
					<li>{{ event.channel }} /</li>
					<li>{{ event.type }}</li>
				</ul>
				{% endif %}
				-->
				<span class="title">{{ event.title|truncate_chars_inner:26 }}</span>  
			</a>
		</h3>
		
		<div class="clear"></div>
		{% if event.excerpt or event.state == 'now' or event.state == 'today' %}{% endif %}
		<h4 class="left time">{{ event.date_start|date:"H:i" }}</h4>
		<h4 class="left excerpt">{{ event.excerpt|truncate_chars_inner:32 }}</h4>
		
		<div class="clear"></div>
	</div>

	<div class="clear"></div>

	
	
</div>