{% load cache menu_tags sekizai_tags %}

{% addtoblock "js_post" %}

{% endaddtoblock %}

{% addtoblock "css" %}
<!--
<link href="{{ STATIC_URL }}css/dummy.css" media="print" rel="stylesheet" type="text/css" />
-->
{% endaddtoblock %}

{% addtoblock "js_main" %}
<script type="text/javascript">
    $(document).ready(function(){ 
        $("div.holder.navigation ul.navigation-js").supersubs({ 
            minWidth:    7, 
            maxWidth:    17, 
            extraWidth:  1 
        }).superfish();
    }); 
</script>
{% endaddtoblock %}



<ul id="navigation" class="navigation-js">
	<!--
	{% show_menu_below_id "shows" 0 1 100 100 %}
	-->
    {% show_menu 0 100 100 100 %}
</ul>