{% extends "base.html" %}

{% load sekizai_tags %}

{% block extra_head %}
    {% block extra_head_base %}{% endblock %}
{% endblock %}

{% load cms_tags %}
{% load cache menu_tags %}	


{% block base_content %}

<div id="container" class="_debug">
	
	
	<div id="root">
	
	
		<div id="toolbar">
			
			<!-- the actual menu -->
			<div id="navigation_top" class="left navigation menu">
				<ul class="horizontal">
				    {% show_menu 0 0 0 0 %}
				</ul>
			</div>
			
			
			<!-- profile / login / facebook / etc -->
			{% load account_tags %}
			
			<div class="right navigation profile">
				
				
				{% if user.is_authenticated %}
				
				<!-- load tags -->
				{% url acct_logout as logout_url %}
				{% user_display user as user_display %}
				
				<ul class="horizontal">
					<li><span class="username">{{ user_display }}</span></li>
					<li><a href="{% url profile_detail user.username %}">Profile</a></li>
					<li><a href="/account/email/">EMail</a></li>
					
					{% if user.is_staff %}
						<li><a href="/admin/">Administration</a></li>
					{% endif %}
					
					<li><a href="{{ logout_url }}">Logout</a></li>
					
				</ul>
				
				{% else %}
				
				<!-- load tags -->
				{% url acct_login as login_url %}
				{% url acct_signup as signup_url %}
				
				<ul class="horizontal">
					<li><a href="{{ signup_url }}">signup</a></li>
					<li><a href="{{ login_url }}">login</a></li>
					<li><a class="fb_connect" href="/facebook/login">connect</a></li>
				</ul>
				
				{% endif %}
				
			</div> 

			<div class="clear"></div>

		</div>
		
		
		<!-- header -->
		<div id="header">
				<div class="headline">
					<div class="season main_title"><img src="{{ STATIC_URL }}img/base/header.season.01.png" /></div>
				</div>
		</div>
		
		
		<div id="content">
			
			<div id="base" class="col left">

					
				<div class="base content pinax">
					<!-- content from pinax -->
					{% block body_outer %}
					    <div id="body">
					        {% block body %}
					        {% endblock %}
					    </div>
					{% endblock %}
					
				</div>
				
				<div class="base content cms">
					
					{% block flash_messages %}{% include "_flash_messages.html" %}{% endblock %}
					{% block body_content%}
					{% endblock %}
					
				</div>

				
			</div>
			
			
			<!-- sidebar -->
			<div id="sidebar" class="col left sidebar">

				<div id="sidebar_pre">
				{% placeholder sidebar_pre %}
				</div>
				
				<div id="eventlist_side">
					{% block event_listing %}{% endblock %}
				</div>				
				
				<!--
				<div id="navigation_side">
					<ul class="vertical">
						{% show_menu_below_id 'events' 0 100 100 100 "bcast/menu_shows.html" %}
					</ul>
				</div>
				-->
				
				{% if user.is_authenticated %}
				<div id="invitation">
					{% include 'element/invite.html' %}
				</div>
				{% endif %}
				
				{% block widget_spectators %}
				{% endblock %}
				
				<div id="sidebar_post">
				{% placeholder sidebar_post %}
				</div>
	
			</div>
		
			<div class="clear"></div>
			
		</div>
		
		
		

		
		

	</div>
	
	
	
	<div id="footer" class="footer">

		<div class="inner">
			
			<!--
			<div id="fb_like">
				{% include 'element/facebook.html' %}
			</div>
			-->


		</div>
		
		
	</div>
	
	
	
	
</div>

{% endblock %}