.submissionplugin_holder
  .submission
    @extend .sizes-boxed
  
    .header.stacked
      @extend .shaded-black
      @extend .stacked-heading
    
      h1, h2, h3, h4, h5, h6
        text-align: right
    
      h1
        color: $col-social-d
        padding: 0 $padding-inner
      h2
        color: $col-social-l
        padding: 0 $padding-inner
  
    .container
      background-color: $col-social-l
      padding: ($default-space) ($default-space)
      @extend .stacked-heading
      
      margin-bottom: $default-space
      
      fieldset
        border-top: 2px solid #00A8C6
        padding: 4px 0 4px
        h3
          font-size: 110%
      
      p.excerpt
        padding: 10px 0
        text-transform: uppercase
        font-size: 130%
        
        //
          &:before
            content: '"'
          &:after
            content: '"'
            
            
      div.user-entry
        padding: 10px 10px 20px 224px
        
            
      div.entries
        padding-top: 20px
        h4
          padding-bottom: 10px
          
        a, a:link, a:hover, a:visited, a:active
          color: black !important
            
  form.disabled
    +opacity(0.5)
    input
    *
      cursor: wait
    //color: #999 !important
    .formHint
      //color: #999 !important


.base .plugin

  .list.events

    font-family: $font-default
    p 
      line-height: 140%
  
  
  .listing.event // listing event element

    margin: 0 0 $space-inner-s 0
    
    background-color: $color-base-bg
    color: $color-default
    a
      color: $color-default
      &:link, &:visited, &:hover, &:active
        color: $color-default
        background-color: transparent
    
    
    .inner
      display: none
      
      &.now, &.today, &.future
        min-height: 36px

          
        
    &.now, &.today
      min-height: 48px
      h3.title
        //padding-top: 14px
      h4.date
        //padding-top: 16px

    div.wrap
      width: 100%
    
    h3.title
      font-weight: bold
      float: left
      display: block
      padding: 2px 2px 2px 0px
    
    h3.date
      font-weight: bold
      float: left
      width: 150px
      display: block
      // font-size: 140%
      padding: 2px 2px 2px 8px
      text-transform: uppercase
    
    .channel
      font-size: 11px
      font-family: $font-default
    
    h4.excerpt
      width: 450px
      padding: 0px 4px 4px 7px
      //font-size: 24px
      
    h4.time
      width: 140px
      padding: 0px 4px 4px 8px
      //font-size: 24px

    &.hover
      cursor: pointer
      background-color: $col-content-d !important
      color: contrast-color($col-content-d) !important
      a
        color: contrast-color($col-content-d) !important

      // color: black 
      h3, h3 > a, h4, h4 > span
        // color: black !important
        
    &.transmission
      background: url('/static/img/base/badge/badge48.recording.white.png') 639px 7px no-repeat
      background-color: $color-base-bg
      // background-position: 639px 7px
      
      &.future
        background-image: url('/static/img/base/badge/badge48.recording_blank.white.png')



    // event states 
    &.now
      background: url('/static/img/base/badge/badge48.now.red.png') top right no-repeat
      background-color: $col-marker-l
      a

        
    &.today
      background: url('/static/img/base/badge/badge48.today.cyan.png') top right no-repeat
      background-color: $col-marker-l
      a

    &.future
      // background: url('/static/img/base/badge/badge48.soon.yellow.png') top right no-repeat



// event list in sidebar
#eventlist_side
  .list.events // list container
    // font-size: $size-font-base *.9
  .listing.event // listing event element
    height: 13px !important // results in 21 with padding
    min-height: 13px !important
    background-image: none !important
    padding: 4px $width-padding-base / 2
    h3, h4
      font-size: $size-font-base *1.1
      padding: 0 !important
    .picture, .channel
      display: none
      
    
      
    h3.title
      width: 160px
      overflow: hidden
      white-space: nowrap
      
    h4.date
      width: 82px

    p
      display: none

    .tags
      display: none
      
    span.event_type
      font-size: $size-font-base *.8
      
    &.hover
      cursor: pointer
      h3, h3 > a, h4, h4 > span

















.base.content 
  .textplugin_holder 
    
    margin: 2px 0 2px
  
    background-image: url(/static/img/base/50p000.png)
    
    color: $color-default
    

    h1, h2
      padding: 0 0px 
    
    font-family: $font-running
    p 
      line-height: 180%
      font-size: 12px
    
    padding: ($default-space/2) 10px ($default-space/2) 10px // 2 for visual compensation / font
    
    &:nth-child(3)

      padding: ($default-space/2)
    
    p, ul
      padding: 4px 0 12px 0
      list-style: square inside
      > li
        padding: 2px 0 2px 0
      
    a

    
    &:nth-child(3)
      margin: 0 0 2px 0