<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


{% load cms_tags sekizai_tags analytics compress %}

<!--head -->
<head>
{% include 'skeleton/head.html' %}

<!-- extra hed from sup-templates -->
{% block extra_head %}{% endblock %}

{% render_block "css" %}

</head>

<!--body -->
<body id="body" class="bp base two-col">

	
	
	<div id="fb-root"></div>
	
	{% block base_content%}{% endblock %}
	
	
	<!--
	{% block login %}
	    {% include "_account_bar.html" %}
	{% endblock %}
	-->
	
	
	{% load value_from_settings %}
	{% value_from_settings "FACEBOOK_APP_ID" as fb_app_id %}
	
	<script type="text/javascript">

	//<![CDATA[//><!--
	
	// javascript init
	$(document).ready(function() {
		base.ui.iface();		
	});
	
	
	
	// facebook init
	window.fbAsyncInit = function() {
		FB.init({
			appId  : '{{ fb_app_id }}',
			status : true,
			cookie : true,
			xfbml  : true,
			oauth  : true
		});
	};
	(function(d){
		var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "//connect.facebook.net/en_US/all.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));
	
	//--><!]]>
	</script>
	
	{% render_block "js" %}
	
	
	{% analytics 'UA-XXXXXX-XX' %}
	

</body>
  
</html>