<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

{% load cms_tags sekizai_tags ganalytics compress %}

<!--head -->
<head>
{% include 'skeleton/head.html' %}

<!-- extra hed from sup-templates -->
{% block extra_head %}{% endblock %}

{% block og_head %}{% endblock %}

<!-- og start -->
{% render_block "opengraph" %}
<!-- og end -->


{% render_block "css" %}

</head>

<!--body -->
<body id="body" class="bp base two-col">

	
	
	<div id="fb-root"></div>

	
	{% block base_content%}{% endblock %}
	
	
	
	<!--
	{% block login %}
	    {% include "_account_bar.html" %}
	{% endblock %}
	-->
	
	
	{% load value_from_settings %}
	{% value_from_settings "FACEBOOK_APP_ID" as fb_app_id %}
	
	<script type="text/javascript">

	//<![CDATA[//><!--
	
	// javascript init
	$(document).ready(function() {
		base.ui.iface();		
	});
	
	
	
	// facebook init
	window.fbAsyncInit = function() {
		FB.init({
			appId  : '{{ fb_app_id }}',
			status : true,
			cookie : true,
			xfbml  : true,
			oauth  : true
		});
	};
	(function(d){
		var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "//connect.facebook.net/en_US/all.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));
	
	
	// flatr init
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();

	
	//--><!]]>
	</script>
	
	{% render_block "js" %}
	
	
	{% ganalytics 'UA-26170095-1' %}
	

</body>
  
</html>