
<!-- width: 680px -->

<!-- full wrapper -->
<div class="wrapper table overview">
	
	
	<div class="row">
		
		<div class="cell x2">
			<div class="wrapper" style="background-image: url({{ STATIC_URL }}img/special/kunstmessen.jpg)">
				<h1><a href="#">Become a Collector!</a></h1>
				<p>Kunstmessen:<br />
					Jede/r ist Künstler
				</p>
			</div>
		</div>
		
		<div class="cell x1">
			<div class="wrapper">
				<h1>Repair my Computer!</h1>
			</div>
			<div class="wrapper">
				<h1>Repair my Computer!</h1>
			</div>
		</div>
		
		<div class="cell x1">
			<div class="wrapper">
				<h1><a href="#">Download</a></h1>
			</div>
			<div class="wrapper">
				<h1><a href="#">Download</a></h1>
			</div>
		</div>
		
	</div>

</div>
