{% load sekizai_tags %}

{% addtoblock "js_main" %}
<script type="text/javascript">
	jQuery(document).ready(function($) {

	});

</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<style type="text/css">
</style>
{% endaddtoblock %} <!-- width: 680px -->
<!-- full wrapper -->
<div class="wrapper social relations">
	<div class="header stacked">
		<h1>Sozialisieren</h1>
		<h2>durch Kunst</h2>
	</div>

	
	<div class="container flattr hoverable linkable">
		<a class="permalink" href="http://flattr.com/thing/554651/Dock18">Flattr Dock18</a>
		<div id="flattr">
			{% include "element/button_flatr.html" %}
		</div>
	</div>
	<div class="container facebook hoverable linkable">
		<a class="permalink" href="http://www.facebook.com/groups/37286573350/">Dock18 auf Facebook</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Facebook</h2>
			<p>
				Dock18 on Facebook
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container youtube hoverable linkable">
		<a class="permalink" href="http://www.youtube.com/user/Dock18Stute">Dock18 YouTube-Channel</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Youtube</h2>
			<p>
				Dock18 auf YouTube
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<!--
	<div class="container twitter hoverable linkable">
		<a class="permalink" href="http://google.ch">Dock18 on Twitter</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Twitter</h2>
			<p>
				Dock18 on Twitter
			</p>
		</div>
		<div class="clear"></div>
	</div>
	-->
	
	<div class="container skype hoverable linkable">
		<a class="permalink" href="skype:dock-18?call">Call Dock18!</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Skype Call</h2>
			<p>
				Call Dock18!
			</p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="container skype hoverable linkable">
		<a class="permalink" href="skype:dock-18?chat">Chat Dock18!</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Skype Chat</h2>
			<p>
				Chat Dock18!
			</p>
		</div>
		<div class="clear"></div>
	</div>
	

	<div class="container email hoverable linkable">
		<a class="permalink" href="mailto:dock18@rotefabrik.ch">E-Mail</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>E-Mail</h2>
			<p>
				Schreibe uns!
			</p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="container newsletter">
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Newsletter</h2>
			<p>
				Dock18 newsletter[s]!
			</p>
		</div>
		<div class="clear"></div>
		<div class="" id="ajax_newsletter"></div>
	</div>
	
	
	<div class="container bug hoverable linkable">
		<a class="permalink" href="http://lab.anorg.net/projects/ch-dock18/issues/new" target="_blank">Create Ticket</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Bug gefunden?</h2>
			<p>
				Hier melden!
			</p>
		</div>
		<div class="clear"></div>
	</div>
	
</div>
