{% load sekizai_tags %}

{% addtoblock "js_main" %}
<script type="text/javascript">
	jQuery(document).ready(function($) {

	});

</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<style type="text/css">
</style>
{% endaddtoblock %} <!-- width: 680px -->
<!-- full wrapper -->
<div class="wrapper social relations">
	<div class="header stacked">
		<h1>Sozialisieren</h1>
		<h2>durch Kunst</h2>
	</div>
	<div class="container flattr">
		<div id="flattr">
			{% include "element/button_flatr.html" %}
		</div>
	</div>
	<div class="container facebook hoverable linkable">
		<a class="permalink" href="http://google.ch">dock18 on Facebook</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Facebook</h2>
			<p>
				dock18 on Facebook
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container youtube hoverable linkable">
		<a class="permalink" href="http://google.ch">dock18 on YouTube</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Youtube</h2>
			<p>
				dock18 on YouTube
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container twitter hoverable linkable">
		<a class="permalink" href="http://google.ch">dock18 on Twitter</a>
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Twitter</h2>
			<p>
				dock18 on Twitter
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container newsletter">
		<div class="left icon">
			&nbsp;
		</div>
		<div class="left wrapper">
			<h2>Newsletter</h2>
			<p>
				dock18 newsletter!
			</p>
		</div>
		<div class="clear"></div>
		<div class="" id="ajax_newsletter"></div>
	</div>
</div>
