{% load cms_tags %}

<!--
<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://dock18.ch"></a>
<noscript><a href="http://flattr.com/thing/554651/Dock18" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
-->

<a class="FlattrButton" style="display:none;"
	uid="Dock18"
    title="This is my title"
    rev="flattr;button:compact;"
    href="{{ request.path }}">Flattr this!
</a>