

<meta property="og:site_name" content="DOCK18" />      
<meta property="og:title" content="{{ event.title }}" />
<meta property="og:type" content="tv_show" />
<meta property="og:url" content="{{ event.get_absolute_url }}" />
<meta property="og:image" content="http://ulysses.dock18.ch/static/img/base/illu.fb-og.png"/>    

<!-- -->
<meta property="og:video" content="http://player.longtailvideo.com/player.swf?playlistfile={{ event.get_playlist_url }}&skin=http://ulysses.dock18.ch/static/swf/ulysses.zip&dock=false&controlbar.position=bottom&playlist.size=86&playlist=bottom&autostart=true&repeat=list" />

      

<meta property="og:video:height" content="480" />
<meta property="og:video:width" content="480" />

              
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:description" content="{{ event.excerpt|safe }}"/>				
<meta property="fb:app_id" content="173374022743087"/>