{% load i18n thumbnail %}

{% if instance.image_url %}
	<div class="hoverable linkable {% if instance.style %}{{ instance.style }}{% endif %}" style="background-image: url({{ instance.image_url }});">
{% else %}
	{% thumbnail instance.image size crop upscale subject_location=opts.subject_location as thumbnail %}
	<div class="hoverable linkable {% if instance.style %}{{ instance.style }}{% endif %}" style="background-image: url({{ thumbnail.url }}); height: {{ height }}px">
{% endif %}




<h1><span>{{ instance.title }}</span></h1>
{% if instance.image or instance.image_url %}
	{% if link %}<a href="{{ link }}"{% if obj.target_blank %} target="_blank"{% endif %}>{% endif %}

	{% if link %}</a>{% endif %}
{% endif %}
{% if instance.description %}
<p>{{ instance.description }}</p>
{% endif %}
{% if link %}<a href="{{ link }}" class="permalink" {% if obj.target_blank %} target="_blank"{% endif %}>{% trans "more" %} &#187;</a>{% endif %}
</div>
